* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body a {
  text-decoration: none;
  color: #fff;
  outline: 0; }

/*--- Colores ---*/
/*--- Mixins ---*/
body {
  background: #ededed; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background: #2c495c;
  padding: 0 15px; }
  header .header-wrap {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 800px) {
      header .header-wrap {
        width: 70%; } }
    @media screen and (min-width: 950px) {
      header .header-wrap {
        width: 50%; } }
  header a {
    font-size: 22px;
    color: #f2f2f2; }
  header input {
    color: #f2f2f2;
    width: 50%;
    border: none;
    padding: 8px;
    background: #34576d;
    transition: all .3s ease;
    font-size: 14px;
    border-radius: 3px; }
    header input:focus {
      color: #333;
      background: #f2f2f2; }

.list {
  margin: 66px auto 0;
  width: 90%; }
  .list span.remain {
    background: #1abc9c;
    padding: 5px;
    color: #f2f2f2;
    font-size: 14px;
    border-radius: 3px; }
  .list li {
    color: #333;
    padding: 15px 0;
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    margin-top: 10px; }
    .list li.ng-enter {
      animation: bounceInUp .8s; }
    .list li.ng-leave {
      animation: bounceOut .8s; }
  @media screen and (min-width: 800px) {
    .list {
      width: 70%; } }
  @media screen and (min-width: 950px) {
    .list {
      width: 50%; } }

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); }
  .modal .new-task {
    margin: 100px auto;
    background: #fff;
    width: 90%;
    height: 140px;
    border-radius: 5px;
    padding: 20px;
    animation: fadeInDown .6s;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.24); }
    @media screen and (min-width: 800px) {
      .modal .new-task {
        width: 70%; } }
    @media screen and (min-width: 950px) {
      .modal .new-task {
        width: 50%; } }
    .modal .new-task input {
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 18px;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px; }
    .modal .new-task button {
      border: none;
      border-radius: 3px;
      padding: 10px 15px;
      color: #f2f2f2;
      background: #e74c3c;
      cursor: pointer; }
      .modal .new-task button:nth-child(1) {
        background: #ccc;
        margin-right: 10px; }
      .modal .new-task button.btn-enabled {
        background: #27ae60; }

.notify-cont {
  position: fixed;
  bottom: 24px;
  width: 100%;
  text-align: center; }
  .notify-cont .notifier {
    display: inline-block;
    background-color: #404040;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.157), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    padding: 20px;
    animation: fadeInUp .6s; }
    @media screen and (min-width: 800px) {
      .notify-cont .notifier {
        width: 70%; } }
    @media screen and (min-width: 950px) {
      .notify-cont .notifier {
        width: 50%; } }
    .notify-cont .notifier span {
      margin-right: 40px;
      color: #f2f2f2; }
    .notify-cont .notifier a {
      color: #1abc9c;
      margin-right: 20px; }
      .notify-cont .notifier a:hover {
        text-decoration: underline; }

.done-true {
  text-decoration: line-through;
  color: grey; }

.ng-leave {
  animation: fadeInUp .8s; }
